@media only screen and (max-width:450px){
    .sobremi-texto{
        padding: 300px 300px;
    }
}

@media only screen and (min-width:451px) and (max-width:969px){

}





/*carrusel*/
.image-carrusel{
    width: auto;
    height: 1000px;
    flex: content;
    float: left;
    align-items: center;
}

.title-principal .btn{
    padding: 50px;
}

/* sobremi*/

.sobremi{
    padding-top: 40px;
}


.sobremi-text{
    padding: 50px 300px;
    display: flex;
    justify-content: space-evenly;
}

.titulo-principal{
    color: #Fe6786;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
}

.titulo-principal:hover{
    background-color: #c7dac7;
    border-radius: 20px;
}

.titulos-principales{
    padding-top: 50px;
    padding-bottom: 30px;
    color: #Fe6786;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-align: center;
}


.rounded{
    width: 300px;
    padding: 30px
    border-radius: 600px;
    text-align: center;
}

.sobremi-texto{
    padding-left: 40px;

}

.text-sobremi{
    color: #ffb68d;
    padding: 30px 30px;
}

/* estudios*/

.page-estudios{
    background-color: #55ccd4;
}

.estudio{
    color: #fff;
}

/* portafolio*/

.col{
    padding: 50px 50px 50px 50px;
}

.col:hover{
    background-color: #Fe6786;
    border-radius: 20px;
}

/*experiencia*/
.page-experiencia{
    background-color: #c7dac7;
}



/*contacto*/
.contacto {
    background-color: #fe8d7b;
    padding: 100px ;
    display: flex;
}

.titulosprincipales-cont{
    padding: 50px 50px 50px 50px;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;

}

.p2{
    color: #fff;
    background-color: palevioletred;
    padding: 20px;
    margin: 50px;
    display: flex;
}

/*Footer*/

.footer{
    background-color: #ffb68d;
}